<div class="modal fade" id="verAviso" tabindex="-1" aria-labelledby="verAviso" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añadir tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <h5 class="p-1"><%= nombre %> </h5>
                    <h5>Aviso <%= avisos[0].idAviso%> </h5>
                </div>
                <div class="d-flex flex-column">
                    <p>Fecha: <%= avisos[0].fecha.toLocaleDateString("en-US") %> </p>
                    <p><%= avisos[0].area %> </p>
                    <p>Perfil: <%= perfil %> </p>
                </div>


            </div>
            <div class="modal-footer">
                <input type="submit" class="anadir" value="Añadir">
            </div>

        </div>
    </div>
</div>